{{ define "main" }}
  <main class="container apps">
    <h1>{{ .Title }}</h1><br><br>
    <div class="grid-apps">
      {{ range .Site.Data.apps.apps }}
        <div class="card">
          <img class="card-img-top" src="{{ .Site.BaseURL }}img/{{ .img }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ .name }}</h4>
            <p class="card-text">{{ .description }}</p>
            <a href="{{ .url }}" class="btn btn-primary">Visit</a>
          </div>
        </div>
      {{ end }}
    </div>
  </main>
{{ end }}
