<!DOCTYPE html>
<head>
  {{- partial "head" . -}}
</head>
<body>

  <div class="pb">
    <h1 class="ds">Poèmes</h1>
    <p>En cours d’écriture</p>
    <blockquote class="blockquote">
      <p>Au-delà de ma mort<br>
      un jour<br>
      la terre tourne dans le ciel</p>

      <p>je suis mort<br>
      et les ténèbres<br>
      alternent sans finir avec le jour</p>

      <p>l'univers m'est fermé<br>
      en lui je reste aveugle<br>
      accordé au néant</p>
      <footer class="blockquote-footer">Georges Bataille</footer>
    </blockquote>
  </div>

  {{ partial "print-poems" . }}

</body>
</html>
