.container-404 {
  display: flex;
  justify-content: center;

  .alert-404 {
    flex-grow: 1;
    min-height: 5em;
    max-width: 600px;
    margin-top: 5em;
    padding-right: 15px;
    padding-left: 15px;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
