/* IE fix > */
.sidebar {
  float: left;
}

 .grid-poems article {
  float: right;
}

@include media-breakpoint-up(md) {
  .sidebar {
    float: left;
  }

   .grid-poems article {
    float: left;
  }
}

@supports not (display: grid) {
  .sidebar, .grid-poems article {
    margin-bottom: 100px;
  }
}
/* < IE fix */

@supports (display: grid) {
  .grid-poems {
    display: grid;
    grid-template:
      "content"
      "sidebar";
  }
}

@include media-breakpoint-up(md) {
  @supports (display: grid) {
    .grid-poems {
      grid-template: "sidebar content" / 300px 1fr;
    }
  }
}
