.navbar {
  position: sticky;
  top: 0;
  padding: 0;

  .container {
    max-width: 992px;
  }
}

.navbar-collapse {
  justify-content: center;
  height: 70px;
  align-items: stretch;

  .navbar-nav {
    padding-top: 0.25rem;

    // à refactoriser
    .nav-link:hover:not(.active) {
      color: rgba(0, 0, 0, 0.5);
    }

    a {
      transition: $btn-transition;

      &:hover,
      &:focus {
        background-color: $light;
        color: rgba(0, 0, 0, 0.5);
      }

      &.active {
        color: rgba(0, 0, 0, 0.7);
        font-weight: 600;
        text-decoration: none;
        background-color: $light;
      }
    }

    .nav-item {
      display: flex;
      align-items: center;
      font-size: var(--default-ui-font-size);
      padding-left: 1em !important;
      padding-right: 1em !important;
    }
  }
}
