.navbar {
  position: sticky;
  top: 0;
  padding: 0;

  .container {
    max-width: 992px;
  }
}

.navbar-collapse {
  justify-content: center;
  height: 70px;
  align-items: stretch;

  .navbar-nav {
    .nav-link {
      transition: $btn-transition;
      color: rgba(0, 0, 0, .55);

      &:hover:not(.active) {
        color: rgba(0, 0, 0, .55);
      }

      &:hover,
      &:focus {
        background-color: $light;
        color: rgba(0, 0, 0, .55);
      }

      &.active {
        color: rgba(0, 0, 0, .9);
        text-decoration: none;
        background-color: $light;
      }
    }

    .nav-item {
      display: flex;
      align-items: center;
      font-size: var(--default-ui-font-size);
      padding-left: 1em !important;
      padding-right: 1em !important;
    }
  }
}
