#social {
  display: flex;
  justify-content: center;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5em;
    padding: .5em;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    width: 2rem;
    fill: #fff;

    &.bi {
      font-size: 1.75em;
    }
  }

  .discord {
    color: #fff;
    background-color: #7289DA;
    border-color: #7289DA;

    &:hover {
      color: #fff;
      background-color: lighten($color: #7289DA, $amount: 5);
      border-color: lighten($color: #7289DA, $amount: 5);
    }
  }

  .github {
    color: #fff;
    background-color: #171515;
    border-color: #171515;

    &:hover {
      color: #fff;
      background-color: lighten($color: #171515, $amount: 20);
      border-color: lighten($color: #171515, $amount: 20);
    }
  }

  .youtube {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;

    &:hover {
      color: #fff;
      background-color: darken($color: #FF0000, $amount: 8);
      border-color: darken($color: #FF0000, $amount: 8);
    }
  }

  .rss {
    color: #fff;
    background-color: #f26522;
    border-color: #f26522;

    &:hover {
      color: #fff;
      background-color: lighten($color: #f26522, $amount: 5);
      border-color: lighten($color: #f26522, $amount: 5);
    }
  }
}
