$btn-transition: none;
// $breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iYmkgYmktY2hldnJvbi1jb21wYWN0LXJpZ2h0IiB3aWR0aD0iMWVtIiBoZWlnaHQ9IjFlbSIgdmlld0JveD0iMCAwIDIwIDIwIiBmaWxsPSJjdXJyZW50Q29sb3IiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguNzc2IDMuNTUzYS41LjUgMCAwMS42NzEuMjIzbDMgNmEuNS41IDAgMDEwIC40NDhsLTMgNmEuNS41IDAgMTEtLjg5NC0uNDQ4TDExLjQ0IDEwIDguNTUzIDQuMjI0YS41LjUgMCAwMS4yMjMtLjY3MXoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+);
$enable-responsive-font-sizes: true;
$theme-colors: (
  "primary-alt": #3490dc
);
$primary-alt: map-get($map: $theme-colors, $key: primary-alt);

@import "bootstrap/bootstrap";

/************************************************************
  MISC
************************************************************/
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll !important;
}

body {
  cursor: default;
}

body.modal-open {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

a:focus, a:hover {
  text-decoration: none;
}

b, strong {
  font-weight: 600;
}

dl, ol, ul {
  margin-bottom: 1.25rem;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#modalDonation {
  padding-right: 0 !important;
}

iframe {
  width: 100%;
  height: 380px;
}

li br + br {
  display: none;
}

li p br + br {
  display: initial;
}

p ~ dl {
  margin-top: -1.25rem;
}

p + ul {
  margin-top: -0.75rem;
}

dl {
  padding-left: 2rem;

  br:last-of-type {
    display: none;
  }
}

dt {
  font-weight: initial;
  font-style: italic;
}

dd {
  margin-bottom: 1.25rem;
}

.footnotes {
  margin-top: 5rem;
  /*font-size: initial;*/

  br {
    display: none;
  }
}

.top-btn {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  z-index: 99;
  background-color: $white;
  border-color: $white;

  svg {
    fill: #5f6368;
  }

  @include media-breakpoint-up(md) {
    bottom: 5rem;
    right: 5rem;
  }
}


p + .alert {
  margin-top: 2.5rem;
}

.alert p {
  margin-bottom: 0;
}

a[title].abbr {
  color: inherit;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

@include media-breakpoint-down(xs) {
  ol, ul, dl {
    padding-left: 20px;
  }
}

.poems hr:last-of-type {
  display: none;
}

/************************************************************
  CONTAINER
************************************************************/
main.container {
  max-width: 992px;
  margin-bottom: 10rem;
}

main.container.article {
  margin-bottom: 168px;
}

/************************************************************
  GRID
************************************************************/
/* IE fix > */
.sidebar {
  float: left;
}

 .grid-poems article {
  float: right;
}

@include media-breakpoint-up(md) {
  .sidebar {
    float: left;
  }

   .grid-poems article {
    float: left;
  }
}

@supports not (display: grid) {
  .sidebar, .grid-poems article {
    margin-bottom: 100px;
  }
}
/* < IE fix */

@supports (display: grid) {
  .grid-poems {
    display: grid;
    grid-template:
      "content"
      "sidebar";
  }
}

@include media-breakpoint-up(md) {
  @supports (display: grid) {
    .grid-poems {
      grid-template: "sidebar content" / 300px 1fr;
    }
  }
}

/************************************************************
  ICONS
************************************************************/
svg.bi {
  vertical-align: baseline;

  &.bi-arrow-up-right {
    vertical-align: sub;
    margin-left: .1em;
    margin-bottom: .1em;
  }

  &.bi-book {
    vertical-align: sub;
  }
}

/************************************************************
  FONTS
************************************************************/
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/dancing-script.woff2) format('woff2');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/caveat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.ca {
  font-family: 'Caveat', cursive;
  font-size: 24px;
}

.ds {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem !important;
}

/************************************************************
  NAV
************************************************************/
header {
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;

  .navbar {
    margin-bottom: 3.5rem;
    position: sticky;
    top: 0;

    .container {
      max-width: 992px;
    }

    .navbar-brand {
      padding: 0;
      display: flex;
      align-items: center;
    }

    .btn {
      margin-top: 8px;
      margin-bottom: 8px;

      @include media-breakpoint-up(sm) {
        margin: initial;
      }
    }
  }
}

.navbar-toggler {
  margin-right: 0 !important;
}

.navbar-nav {
  padding-top: 0.25rem;
}

@include media-breakpoint-up(sm) {
  header {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;

    .navbar {
      padding: 0;

      .navbar-brand {
        font-size: 1.5em;

        img {
          width: 50px;
        }
      }
    }

    .navbar-nav {
      padding-top: initial;
      justify-content: flex-end;

        // à refactoriser
        .nav-link:hover:not(.active) {
          color: rgba(0, 0, 0, 0.5);
        }

        a,
        .dropdown a {
          &:hover,
          &:focus {
            background-color: $light;
            color: rgba(0, 0, 0, 0.5);
          }

          &.active {
            color: rgba(0, 0, 0, 0.7);
            font-weight: 600;
            text-decoration: none;
            background-color: $light;
          }
        }

        .dropdown-menu a:hover,
        .dropdown-menu a:focus {
          color: rgba(0, 0, 0, 0.9);
        }

      .nav-item {
        display: flex;
        align-items: center;
        font-size: 1.05em;
        padding-left: 1em !important;
        padding-right: 1em !important;
      }
    }

    .navbar-collapse {
      justify-content: flex-end;
      height: 70px;
      align-items: stretch;
    }
  }
}

#nav-recueils {
  margin-bottom: 3.5rem;
  margin-top: -3.5rem;

  .btn {
    border-radius: 0;
  }

  .nav-pills {
    justify-content: center;
    background-color: $breadcrumb-bg;

    .nav-link {
      border-radius: 0;

      &.active {
        background-color: $primary-alt;
      }
    }
 }
}

@include media-breakpoint-up(md) {
  #nav-recueils {
    .nav-pills {
      display: flex;
    }
  }
}

@include media-breakpoint-down(sm) {
  #nav-recueils {
    .nav-pills {
      .nav-item {
        width: 100%;
      }
    }
  }
}

.recueils-subtext {
  margin-top: -40px;
  text-align: right;

  img {
    width: 30px;
    padding-bottom: 10px;
  }

  @media (min-width: 395px) {
    text-align: center;
    margin-left: 175px;
  }

  @include media-breakpoint-up(md) {
    margin-left: 0;
  }
}

/************************************************************
  SIDEBAR
************************************************************/
.sidebar {
  grid-area: sidebar;

  .pagination {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 1.75rem;
    flex-wrap: wrap;
  }

  .nav-poems-navigation {
    .list-group {
      border: 1px solid rgba(0,0,0,.125);
      border-radius: $border-radius;
      background-color: rgba(0,0,0,.03);
      padding-top: .75rem;
      padding-bottom: .75rem;

      .list-group-item {
        padding-top: .25em;
        padding-bottom: .25em;
        background-color: transparent;
        color: $link-color;
        border: none;

        &:first-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &:last-child {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:hover {
          // background-color: #fff;
          // background-color: $primary-alt;
          color: $link-hover-color;
        }

        &.active {
          background-color: $primary-alt;
          color: #fff;
          border-left: 1px solid $primary-alt;
          border-right: 1px solid $primary-alt;
          margin-left: -1px;
          // margin-right: -2px;
          min-width: calc(100% + 2px);
        }

        & + .list-group-item.active {
          margin-top: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    .pagination {
      margin-top: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .sidebar {
    // .pagination-lg styles
    .pagination {
      .page-item:first-child .page-link {
        border-top-left-radius: .3rem;
        border-bottom-left-radius: .3rem;
      }

      .page-link {
        padding: .75rem 1.5rem;
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }
}

/************************************************************
  HEADINGS
************************************************************/
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 2.5rem;
}

dl + h1,
dl + h2,
dl + h3,
dl + h4,
dl + h5,
dl + h6 {
  margin-top: 2.5rem;
}

ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  margin-top: 2.5rem;
}

article {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }
}

.grid-poems {
  h1 {
    margin-bottom: 1rem;
  }

  h1.ds {
    margin-bottom: .5rem;
  }
}

.article {
  h1 {
    font-weight: 300;

    &:first-child {
      text-align: center;
      font-weight: initial;
    }
  }

  h2 {
    font-size: 1.06rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.06rem;
    font-style: italic;
  }
}

.mentions-legales {
  h1 {
    font-weight: 300;

    &:first-of-type {
      font-weight: initial;
    }
  }

  h2 {
    font-size: 1.25rem;
  }
}

/************************************************************
  TOC
************************************************************/
#TableOfContents {
  font-size: initial;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: -20px;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;

  ul {
    padding-right: 0;
    padding-left: 2rem;

    &:first-child {
      padding-right: 10px;
      padding-left: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    li {
      list-style-type: none;
    }
  }
}

/************************************************************
  ARTICLE
************************************************************/
article {
  grid-area: content;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  p {
    margin-bottom: 1.25rem;
  }
}

.home article {
  max-width: none;
}

.grid-poems article  {
    margin: 0;

    @include media-breakpoint-up(md) {
      margin-left: 100px;
    }
  }

@include media-breakpoint-up(md) {
  article {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 600px;
  }
}

@include media-breakpoint-up(md) {
  .article article {
    max-width: 655px;
  }
}

/************************************************************
  HOME
************************************************************/
.home {
  .presentation {
    text-align: center;

    @include media-breakpoint-up(sm) {
      display: flex;
      // column-gap: 1rem; not yet supported in Chrome, Edge
      margin: 3.5rem 0;
      text-align: left;

      div:nth-child(2) {
        margin-left: 1rem; // fix column-gap not yet supported in Chrome, Edge
      }

      div {
        width: 50%;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 0.75rem;

        p {
          margin-bottom: 0;
        }
      }
    }

    .photo img {
      width: 100px;
      filter: brightness(170%);
      // fix blur on Chrome
      image-rendering: -webkit-optimize-contrast;

      @include media-breakpoint-up(sm) {
        float: right;
      }
    }
  }

  .home-box-container {
    margin: 3rem 1.5rem 3.5rem 1.5rem;

    .home-box {
      margin-bottom: 3rem;

      h2 {
        text-align: center;
        margin-top: 1.25rem;
        padding: 0 1.25rem;
      }

      .card-body {
        padding-left: 1.25em;
        padding-right: 1.25em;

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .home-box-container {
      display: flex;
      // column-gap: 4rem; not yet supported in Chrome, Edge
      margin: 3.5rem 2rem;
      justify-content: center;

      .home-box:nth-child(2) {
        margin-left: 4rem; // fix column-gap not yet supported in Chrome, Edge
      }

      .home-box {
        margin-bottom: initial;
        width: 400px;

        .card-body {
          padding-left: 2.5em;
          padding-right: 2.5em;
        }
      }
    }
  }

  #social {
    display: flex;
    justify-content: center;

    a, button {
      margin-right: 0.5em;

      &:last-child {
        margin-right: 0;
      }
    }

    svg {
      width: 1.5rem;
      vertical-align: bottom;
      fill: #fff;

      &.bi {
        font-size: 1.5em;
      }
    }

    .discord {
      color: #fff;
      background-color: #7289DA;
      border-color: #7289DA;

      &:hover {
        color: #fff;
        background-color: lighten($color: #7289DA, $amount: 5);
        border-color: lighten($color: #7289DA, $amount: 5);
      }
    }

    .github {
      color: #fff;
      background-color: #171515;
      border-color: #171515;

      &:hover {
        color: #fff;
        background-color: lighten($color: #171515, $amount: 20);
        border-color: lighten($color: #171515, $amount: 20);
      }
    }
  }
}

/************************************************************
  BLOCKQUOTE
************************************************************/
blockquote {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem !important;
  border-left: 5px solid #eceeef;
  color: #6c757d;

  p:last-of-type {
    margin-bottom: 0 !important;
  }

  .blockquote-footer {
    font-style: normal;
    margin-top: 1.25rem;
    color: #212529;
    font-size: inherit;
  }
}

.blockquote {
  font-size: inherit;
}

.grid-poems blockquote {
  font-style: italic;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem !important;
}

/************************************************************
  FOOTER
************************************************************/
.nav-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;

  .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: initial;

    @include media-breakpoint-up(md) {
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }

  p {
    padding: 8px;
    margin: 0;
    color: rgba(0,0,0,.5);
  }

  .dot:last-of-type {
    display: none !important;
  }
}
