<nav class="navbar navbar-expand navbar-light bg-light nav-footer" aria-label="Footer navigation">
  {{- with (getenv "PRODUCTION") -}}
    <code class="version text-muted d-none d-xl-block"> {{ substr (getenv "TRAVIS_COMMIT") 0 7 }}</code>
  {{- end }}
  <div class="container">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link" href="https://github.com/inwardmovement/inwardmovement.github.io">View on GitHub</a>
      </div>
    </div>
  </div>
</nav>

{{- with (getenv "PRODUCTION") }}
  <script src="{{ "main.js" | relURL }}"></script>
{{ else }}
  <script src="{{ "js/jquery.js" | relURL }}"></script>
  <script src="{{ "js/popper.js" | relURL }}"></script>
  <script src="{{ "js/bootstrap.js" | relURL }}"></script>
  <script src="{{ "js/app.js" | relURL }}"></script>
{{ end -}}
