<div class="modal fade" id="modalDonation" tabindex="-1" role="dialog" aria-labelledby="modalSupportMe" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bank account details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>IBAN</strong><br>
          FR76 1382 5002 0004 5718 3158 125</p>
        <p><strong>BIC/SWIFT</strong><br>
          CEPAFRPP382</p>
      </div>
    </div>
  </div>
</div>
