<nav class="navbar navbar-expand-md navbar-light bg-light" aria-label="Main navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Ouvre navigation principale"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      {{ $currentPage := . -}}
      <div class="navbar-nav mr-auto">
        {{ range .Site.Menus.main }}
          {{- $isCurrent := or (eq .URL $currentPage.URL) (eq .Identifier $.Section) -}}
            <a class="nav-item nav-link{{ if $isCurrent }} active{{ end }}" href="{{ .URL }}">{{ .Name }}{{ if $isCurrent }} <span class="sr-only">(current)</span>{{ end }}</a>
        {{ end -}}
      </div>
      <div class="nav-right navbar-nav">
        <button type="button" class="btn btn-info" onclick="if(jQuery.browser.mobile){window.open('mailto:victor.dhamma@gmail.com','_self')}else{window.open('mailto:victor.dhamma@gmail.com')}">Contact <i class="material-icons">mail_outline</i></button>
      </div>
    </div>
  </div>
</nav>
