{{ range where .Site.Pages.ByDate "Params.recueil" .Params.printrecueil }}
  <h4>{{.Title}}</h4><br>
  <div class="pb">
  {{ .Content }}
  </div><br>
{{ end }}

<style>
  .pb {
    page-break-after: always;
  }

  .pb:last-of-type {
    page-break-after: avoid;
  }

  p {
    page-break-inside: avoid;
  }

  abbr {
    text-decoration: none;
  }

  blockquote {
    border-top: none;
    border-bottom: none;
    border-right: none;
  }

  @page {
    margin-right: 2cm;
    margin-left: 4cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
  }



</style>
