<div id="social">
  {{ with .Site.Params.discord }}
    <a class="btn discord rounded-circle no-external-icon" href="https://discordapp.com/users/{{ . }}/">{{ (resources.Get "img/discord.svg").Content | safeHTML }}<span class="sr-only">Discord</span></a>
  {{ end }}
  {{ with .Site.Params.github }}
    <a class="btn github rounded-circle no-external-icon" href="https://github.com/{{ . }}/">{{ (resources.Get "img/github.svg").Content | safeHTML }}<span class="sr-only">GitHub</span></a>
  {{ end }}
  {{ with .Site.Params.email }}
    <a class="btn btn-info rounded-circle no-external-icon" href="mailto:{{ . }}">{{ (resources.Get "icons/envelope-fill.svg").Content | safeHTML }}<span class="sr-only">Email</span></a>
  {{ end }}
</div>
