{{ define "main" }}
  <main class="container home">
    <article>
      <div class="presentation">
        <div class="photo">
          <img src="{{ (resources.Get "img/photo.png" ).Permalink }}" class="rounded" alt="Photo">
        </div>
        <div class="text"><br>
          <h1>{{ .Params.customTitle }}</h1>
          <p>{{ .Params.presentation }}</p>
        </div>
      </div>
      <div class="home-box-container">
        {{ .Content }}
      </div>
      {{ partial "social" . }}
    </article>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
