{{ define "main" }}
  <main class="container home">
    <article>
      <div class="presentation">
        <div class="logo">
          <img src="{{ (resources.Get "img/logo.png" ).Permalink }}" class="img-thumbnail rounded" alt="Photo">
        </div>
        <div class="text">
          <h1>{{ .Params.customTitle }}</h1>
          <h4>{{ .Params.presentation }}</h4>
        </div>
      </div>
      <div class="home-box-container">
        {{ .Content }}
      </div>
      {{ partial "social" . }}
    </article>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
