{{ define "title" }}
  {{ .Site.Title }} | {{ .Site.Params.description }}
{{ end }}
{{ define "main" }}
  <main class="container home">
    <article>
      <div class="presentation">
        <div>
          <h1>{{ .Params.customTitle }}</h1>
          <p>{{ .Params.presentation }}</p>
        </div>
      </div>
      <div class="box">
        <div>
          <div class="icons">
            <span>💻</span>
            <span>✒️</span>
            <span>🤘</span>
          </div>
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
      {{ partial "social" . }}
    </article>
  </main>
{{ end }}
